###         RIOT-flexteamcoach              ###
mysql-connector-python
requests

###         Requirements Discord bot        ###
discord

###          Requirements Crawler           ###

###                                         ###